<h1 id="login_h1" class="treed">Piggy Bank</h1>

<h2 class="treed page_title">About</h2>
<hr>
<p>This web application has been made by <a href="http://fredgentil.com">Frédéric Gentil</a> with <a href="http://rubyonrails.org/">Ruby on Rails</a>. Feel free to send me an email at: <a href="mailto:fr3dgentil@gmail.com">fr3dgentil@gmail.com</a>.</p>
<hr>
<p><%= link_to('Back', :action => 'login') %></p>
